<h1>{{ recipe.title }}</h1>
<h3>Ingredients</h3>
<ul>
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.ingredient_text }}</li>
    {% endfor %}
</ul>

<h3>Method</h3>
<ul>
    {% for step in recipe.step_set.all %}
        <li>{{ step.step_text }}</li>
    {% endfor %}
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if rate %}
<div style="background-color: lightgrey;">
<h3>Rate</h3>
<form action="{% url 'myrecipes:rate' recipe.id %}" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Send rating" />
    <div style="background-color: lightgrey;">
        <a href="{% url 'myrecipes:detail' recipe.id %}?rate=False">[Hide form]</a>
    </div>
</form>
</div>
{% else %}
    <div style="background-color: lightgrey;">
        <a href="{% url 'myrecipes:detail' recipe.id %}?rate=True">Rate</a>
    </div>
{% endif %}